@import '../../assets/scss/vars.scss';
@import '../../assets/scss/functions.scss';

.service {
  padding: pxToRem(50) 0;

  @media (min-width: 1200px) {
    padding: pxToRem(100) pxToRem(50);
  }

  .title {
    margin-left: pxToRem(30);
    margin-bottom: pxToRem(46);

    @media (min-width: 1200px) {
      margin-left: pxToRem(40);
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    row-gap: pxToRem(40);

    @media (min-width: 791px) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: pxToRem(40);
    }

    &-item {
      &:nth-child(1) .service-list-item-icon {
        background-color: $blue;
      }
      &:nth-child(2) .service-list-item-icon {
        background-color: $green;
      }
      &:nth-child(3) .service-list-item-icon {
        background-color: $red;
      }
    }
  }
}
