---
import './SectionService.scss';
---

<section class='service'>
  <h2>We offer high demand services</h2>
  <ul>
    <li>
      <div class='service-icon'></div>
      <h3 class='service-title'>UI/UX Design</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac
        nulla consequat aliquet id quis turpis.
      </p>
      <button>Get started</button>
    </li>
    <li>
      <div class='service-icon'></div>
      <h3 class='service-title'>Front End</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac
        nulla consequat aliquet id quis turpis.
      </p>
      <button>Get started</button>
    </li>
    <li>
      <div class='service-icon'></div>
      <h3 class='service-title'>Back End</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac
        nulla consequat aliquet id quis turpis.
      </p>
      <button>Get started</button>
    </li>
  </ul>
</section>
