---
import './SectionService.scss';
import { IconEdit, IconCode, IconServer } from '../../assets/svgs';
import ServiceItem from './service-item/ServiceItem.astro';
---

<section class='service section' id='service'>
  <h2 class='title'>We offer high<br />demand services</h2>
  <div class='service-list'>
    <ServiceItem title='UI/UX Design' href='#'>
      <IconEdit slot='icon-service' />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac consequat
      aliquet id quis turpis.
    </ServiceItem>

    <ServiceItem title='Front End' href='#'>
      <IconCode slot='icon-service' />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac consequat
      aliquet id quis turpis.
    </ServiceItem>

    <ServiceItem title='Back EndDesign' href='#'>
      <IconServer slot='icon-service' />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac consequat
      aliquet id quis turpis.
    </ServiceItem>
  </div>
</section>
