@import '../../assets/scss/vars.scss';
@import '../../assets/scss/functions.scss';

.brand {
  font-size: pxToRem(24);
  font-weight: 800;

  @media (min-width: 799px) {
    font-size: pxToRem(36);
  }
}
