footer {
  color: $gray-footer;
  background-color: $black;

  .container {
    padding: 0 pxToRem(42);

    &:first-child {
      & > div {
        padding: pxToRem(32) 0;
        flex: 1;

        @media (min-width: 1200px) {
          padding-top: pxToRem(46);
        }
      }
      margin-bottom: pxToRem(125);

      @media (min-width: 791px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: pxToRem(100);
      }
    }

    &:last-child {
      font-family: $font-footer;
      font-size: pxToRem(14);
      text-align: center;
      padding: pxToRem(24) 0;

      a {
        color: inherit;
        font-weight: bold;
        font-size: inherit;
      }
    }

    @media (min-width: 1200px) {
      padding: 0 pxToRem(92);
    }
  }

  .main-menu {
    a {
      color: white;
    }
  }
  .brand {
    font-size: pxToRem(36);
    font-style: normal;
    font-weight: 800;
    color: $gray6;
  }
  .social-media {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: pxToRem(11);

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 24px;
        }
      }
    }
  }
  .contact-us {
    label {
      color: white !important;
    }
  }
}
