@import './fonts.scss';
@import './vars.scss';
@import './default.scss';
@import './functions.scss';

.container {
  width: 100%;
  max-width: 969px;
  padding: 0 pxToRem(12);
  position: relative;
  margin: auto;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding-top: pxToRem(20);
  margin-bottom: pxToRem(33);
}
section {
  h2 {
    font-size: pxToRem(24);
    font-weight: 500;

    small {
      font-size: pxToRem(18);
      font-weight: 500;
    }
  }
  p {
    color: $gray2;
    font-weight: 400;
  }
}
@import './footer.scss';
