@import './fonts.scss';
@import './vars.scss';
@import './default.scss';
@import './functions.scss';

.container {
  width: 100%;
  max-width: 1332px;
  padding: 0 pxToRem(12);
  position: relative;
  margin: auto;

  @media (min-width: 791px) {
    padding: 0 pxToRem(24);
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;

  @media (min-width: 1200px) {
    padding-top: 120px;
  }
}

header {
  padding-top: pxToRem(20);
  margin-bottom: pxToRem(33);

  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  top: 0;
  background-color: white;

  @media (min-width: 791px) {
    height: 90px;
  }

  @media (min-width: 1200px) {
    padding-top: pxToRem(42);
    margin-bottom: pxToRem(66);
    height: 130px;
  }
}
section {
  h2 {
    font-size: pxToRem(24);
    font-weight: 500;

    @media (min-width: 1200px) {
      font-size: pxToRem(36);
    }

    small {
      font-size: pxToRem(18);
      font-weight: 500;
    }
  }
  p {
    color: $gray2;
    font-weight: 400;
  }
}
@import './footer.scss';
