@import '../../assets/scss/vars.scss';
@import '../../assets/scss/functions.scss';

.about-us {
  padding: pxToRem(50) 0;

  @media (min-width: 1200px) {
    padding-top: pxToRem(100);
  }

  &-title {
    font-size: pxToRem(24);
    font-weight: 500;
    margin: pxToRem(15) 0;

    @media (min-width: 1200px) {
      font-size: pxToRem(48);
      margin: pxToRem(42) 0;
    }

    small {
      color: $blue;
      font-size: pxToRem(12);

      @media (min-width: 1200px) {
        font-size: pxToRem(18);
      }
    }
  }
  img {
    border-radius: pxToRem(18);
    width: 100%;
  }
  p {
    font-size: pxToRem(12);
    font-weight: 400;
    margin-bottom: pxToRem(31);

    @media (min-width: 1200px) {
      font-size: pxToRem(18);
      margin-bottom: pxToRem(42);
    }
  }

  article {
    width: 275px;
    @media (min-width: 1200px) {
      width: 366px;
    }
  }

  article,
  h1 {
    margin-left: pxToRem(30);

    @media (min-width: 791px) {
      margin-left: pxToRem(180);
    }

    @media (min-width: 1200px) {
      margin-left: pxToRem(253);
    }
  }
}
