---
import ContactUs from '../contact-us/ContactUs.astro';
import './SectionAboutUs.scss';
---

<section class='about-us'>
  <h1 class='about-us-title'>
    <small>Unhappy with your website?</small>
    We create beautiful<br />and fast web services
  </h1>
  <picture>
    <source media='(max-width: 799px)' srcset='./heroImagePhone.png' />
    <source media='(min-width: 800px)' srcset='./heroImage.jpg' />
    <img
      src='./heroImage.jpg'
      alt='Chris standing up holding his daughter Elva'
    />
  </picture>
  <article>
    <h3 class='about-us-title'>Story, emotion<br />and purpose</h3>
    <p>
      We help transform your ideas into real world applications that will
      outperform your toughest competition and help you achieve your strategic
      goals in short period of time.
    </p>
    <ContactUs />
  </article>
</section>
