---
import { Arrow } from '../../assets/svgs';
import './SectionOurWork.scss';
import WorkItem from './work-item/WorkItem.astro';
---

<section class='our-work section' id='our-work'>
  <h2 class='title'>Good design means<br />good business</h2>
  <div class='our-work-list'>
    <WorkItem
      src='smarthome.jpg'
      title='Smart home dashboard'
      subtitle='Full stack application'
    />
    <WorkItem
      src='onboard.png'
      title='Onboard application'
      subtitle='UX/UI design'
    />
    <WorkItem
      src='booking.png'
      title='Booking system'
      subtitle='Mobile application'
    />
    <WorkItem
      src='juice-product.png'
      title='Juice product homepage'
      subtitle='Front End applicati on'
    />

    <a href='#' class='more'>
      see more <Arrow />
    </a>
  </div>
</section>
