---
import './SectionOurWork.scss';
---

<section class='our-work'>
  <h2>Good design means good business</h2>
  <ul>
    <li>
      <img src='./smarthome.jpg' alt='' />
      <h3>
        <small>Full stack application</small>
        Smart home dashboard
      </h3>
    </li>
    <li>
      <img src='./onboard.png' alt='' />
      <h3>
        <small>UX/UI design</small>
        Onboard application
      </h3>
    </li>
    <li>
      <img src='./booking.png' alt='' />
      <h3>
        <small>Mobile application</small>
        Booking system
      </h3>
    </li>
    <li>
      <img src='./juice-product.png' alt='' />
      <h3>
        <small>Front End applicati on</small>
        Juice product homepage
      </h3>
    </li>
  </ul>
</section>
