---
import './SectionClient.scss';
---

<section class='client section' id='client'>
  <div class='client-item'>
    <h2 class='client-item-text'>
      “Fast and outstanding resutls. Edie understands their customer’s needs.
      They have a young and talented team.”
    </h2>
    <div class='client-item-author'>
      <img class='client-item-author-image' src='./person4.png' alt='' />
      <h4 class='client-item-author-name'>
        Carlos Tran
        <small>The Decorate Gatsby</small>
      </h4>
    </div>
  </div>
</section>
