@import '../../assets/scss/vars.scss';
@import '../../assets/scss/functions.scss';

@keyframes animationIn {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.contact-us {
  &.animation {
    animation: animationIn 0.4s infinite ease;
    animation-fill-mode: forwards;
  }

  .label {
    font-size: pxToRem(10);

    @media (min-width: 1200px) {
      font-size: pxToRem(14);
    }
    color: $gray3;
  }

  input {
    background-color: transparent;
    border: 0;
    outline: none;
    flex: 1;
  }

  .input-box {
    background-color: $gray6;
    border-radius: pxToRem(12);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: pxToRem(4);
    height: 47px;

    @media (min-width: 1200px) {
      height: 57px;
      margin-top: pxToRem(9);
    }

    .form-control {
      width: 100%;
      margin-left: pxToRem(15);

      &::placeholder {
        color: $gray4;
        font-weight: 500;
      }

      @media (min-width: 1200px) {
        font-size: pxToRem(18);
      }
    }

    button {
      background-color: $blue;
      padding: 0 pxToRem(20);
      border-radius: pxToRem(12);
      font-size: pxToRem(14);
      font-weight: 500;
      color: white;
      flex-shrink: 0;

      @media (min-width: 1200px) {
        font-size: pxToRem(18);
      }

      &:hover {
        background-color: rgba($color: $blue, $alpha: 0.8);
        cursor: pointer;
      }
    }
  }
  .err {
    color: $red;
  }
  .succ {
    color: $green;
  }
}
