@import '../../assets/scss/vars.scss';
@import '../../assets/scss/functions.scss';

.contact-us {
  .label {
    font-size: pxToRem(10);
    color: $gray3;
  }

  input {
    background-color: transparent;
    border: 0;
    outline: none;
    flex: 1;
  }

  .input-box {
    background-color: $gray6;
    border-radius: pxToRem(12);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: pxToRem(4);
    height: 47px;

    .form-control {
      width: 100%;
      margin-left: pxToRem(15);
      &::placeholder {
        color: $gray4;
        font-weight: 500;
      }
    }

    button {
      background-color: $blue;
      padding: 0 pxToRem(20);
      border-radius: pxToRem(12);
      font-size: pxToRem(14);
      font-weight: 500;
      color: white;
      flex-shrink: 0;

      &:hover {
        background-color: rgba($color: $blue, $alpha: 0.8);
      }
    }
  }
  .err {
    color: $red;
  }
  .succ {
    color: $green;
  }
}
