<form>
  <label class='input'>
    Want us to contact you?
    <div class='input-box'>
      <input class='form-control' placeholder='Email' />
      <button>Join</button>
    </div>
  </label>
</form>
