---
import { Layout } from '../layouts';
import {
  SectionAboutUs,
  SectionService,
  SectionOurWork,
  SectionTeam,
  SectionClient,
} from '../components/sections';
---

<Layout title='Edie homepage - luisangelsalcedo'>
  <main>
    <SectionAboutUs />
    <SectionService />
    <SectionOurWork />
    <SectionTeam />
    <SectionClient />
  </main>
</Layout>
