@import '../../../assets/scss/vars.scss';
@import '../../../assets/scss/functions.scss';

.our-work-list-item {
  flex-shrink: 0;
  margin-bottom: pxToRem(36);

  &-image {
    width: 351px;
    height: 351px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: pxToRem(24);
    margin-bottom: pxToRem(13);

    @media (min-width: 1200px) {
      width: 543px;
      height: 544px;
    }

    img {
      width: 100%;
    }
  }

  &-title {
    font-size: pxToRem(18);
    font-weight: 500;

    @media (min-width: 1200px) {
      font-size: pxToRem(24);
    }

    small {
      font-size: pxToRem(12);
      font-weight: 300;
      color: $gray3;

      @media (min-width: 1200px) {
        font-size: pxToRem(14);
      }
    }
  }
}
