---
import Brand from '../brand/Brand.astro';
---

<Brand />
<ul>
  <li><a href='#'> <img src='./instagram.svg' alt='' /></a></li>
  <li><a href='#'> <img src='./linkedin.svg' alt='' /></a></li>
  <li><a href='#'> <img src='./twitter.svg' alt='' /></a></li>
</ul>
