<ul class='social-media'>
  <li>
    <a
      href='https://devchallenges.io/portfolio/luisangelsalcedo'
      target='_blank'
    >
      <img src='./instagram.svg' alt='' /></a>
  </li>
  <li>
    <a href='https://www.linkedin.com/in/luisangelsalcedo/' target='_blank'>
      <img src='./linkedin.svg' alt='' /></a
    >
  </li>
  <li><a href='javaScript:void(0)'> <img src='./twitter.svg' alt='' /></a></li>
</ul>
