---
import { Brand, CollapsedMenu, MainMenu } from '../components';
---

<header>
  <div class='container'>
    <Brand />
    <CollapsedMenu><MainMenu /></CollapsedMenu>
  </div>
</header>

<style>
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
