---
import './SectionTeam.scss';
---

<section class='team'>
  <div>
    <h2>
      <small>Meet the team</small>
      We are chilled and a laidback team
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div>
    <img src='./person1.png' alt='' />
    <img src='./person2.png' alt='' />
    <img src='./person3.png' alt='' />
  </div>
</section>
