---
import './SectionTeam.scss';
---

<section class='team'>
  <div class='team-description'>
    <h2 class='title'>
      <small>Meet the team</small>
      We are chilled and a laidback team
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class='team-image'>
    <div>
      <img src='./person3.png' alt='' class='team-image1' />
    </div>
    <div>
      <img src='./person1.png' alt='' class='team-image2' />
      <img src='./person2.png' alt='' class='team-image3' />
    </div>
  </div>
</section>
